header
{
   /* border:2px solid black;*/
    width:50%;
    text-align: center;
    margin: 0 auto;
}
.advantages-item
{
    font-size: 24px;
    margin-left: 30px;;
}
.feature-furniture
{
    font-size: 24px;
}
body {
    background-image: url(pic10.png); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
    -webkit-background-size: cover;
   }
   @import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}